extends template

include mixins/socals
include mixins/audioplayer
include mixins/stiker
include mixins/feedback
include mixins/share-block

block vars
  -
    var siteTitle = 'Много сделал!'
    var pageTitle = ''
    var description = 'Помогая компании, успевай жить для себя'
    var url       = 'http://xensers.github.io/mnogosdelal/'
    var image     = url + 'assets/images/logo.svg'
  -
    var html = {
      attrs: {
        lang: 'ru'
      },
      classList: []
    }
  -
    var body = {
      attrs: {},
      classList: []
    }
  -
    var layout = {
      attrs: {},
      classList: []
    }

append meta
  meta(name='description', content=description)
  meta(property='og:title', content=pageTitle)
  meta(property='og:type', content='website')
  meta(property='og:url', content=url)
  meta(property='og:image', content=image)
  meta(property='og:image:type', content='image/png')
  meta(property='og:image:width', content='202')
  meta(property='og:image:height', content='116')
  meta(property='og:description', content=description)


block styles
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
  //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css")


  // build:css assets/css/libs.css
  link(rel='stylesheet', href='assets/libs/normalize.min.css')
  link(rel='stylesheet', href='assets/libs/animate.min.css')
  link(rel='stylesheet', href='assets/libs/swiper.min.css')
  // endbuild

  // build:css assets/css/preloader.css
  link(rel='stylesheet', href='assets/css/preloader.css')
  // endbuild
  // build:js assets/js/preloader.js
  script(type='text/javascript', src='assets/js/preloader.js')
  // endbuild

  // build:css assets/fonts/libs.css
  link(rel='stylesheet', href='assets/fonts/fonts.css')
  // endbuild

  // build:css assets/css/main.css
  link(rel='stylesheet', href='assets/css/keyframes.css')
  link(rel='stylesheet', href='assets/css/base.css')
  link(rel='stylesheet', href='assets/css/layout.css')
  link(rel='stylesheet', href='assets/css/typography.css')
  link(rel='stylesheet', href='assets/css/header.css')
  link(rel='stylesheet', href='assets/css/menu.css')
  link(rel='stylesheet', href='assets/css/icons.css')
  link(rel='stylesheet', href='assets/css/markers.css')
  link(rel='stylesheet', href='assets/css/start-page.css')
  link(rel='stylesheet', href='assets/css/stiker.css')
  link(rel='stylesheet', href='assets/css/audioplayer.css')
  link(rel='stylesheet', href='assets/css/video.css')
  link(rel='stylesheet', href='assets/css/homepage-layout.css')
  link(rel='stylesheet', href='assets/css/case-detailed-layout.css')
  link(rel='stylesheet', href='assets/css/debug.css')
  link(rel='stylesheet', href='assets/css/helpers.css')
  link(rel='stylesheet', href='assets/css/aboutpage.css')
  link(rel='stylesheet', href='assets/css/feedback.css')
  link(rel="stylesheet", href='assets/css/share-block.css')
  // endbuild

block scripts
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js")
  //- script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js")

  // build:js assets/js/libs.js
  script(src="assets/libs/smooth-scroll.polyfills.min.js")
  script(src="assets/libs/swiper.min.js")
  // endbuild

  // build:js assets/js/main.js
  script(type='text/javascript', src='assets/js/helpers.js')
  script(type='text/javascript', src='assets/js/respond.js')
  script(type='text/javascript', src='assets/js/animate.js')
  script(type='text/javascript', src='assets/js/layout.js')
  script(type='text/javascript', src='assets/js/header.js')
  script(type='text/javascript', src='assets/js/menu.js')
  script(type='text/javascript', src='assets/js/start-page.js')
  script(type='text/javascript', src='assets/js/stiker.js')
  script(type='text/javascript', src='assets/js/audioplayer.js')
  script(type='text/javascript', src='assets/js/video.js')
  script(type='text/javascript', src='assets/js/homepage.js')
  script(type='text/javascript', src='assets/js/case-detailed-page.js')
  script(type='text/javascript', src='assets/js/aboutpage.js')
  script(type='text/javascript', src='assets/js/feedback.js')
  script(type='text/javascript', src='assets/js/share.js')
  // endbuild

  script.
    readyjs.push(function(){
      var scroll = new SmoothScroll('a[href*="#"]', {
        offset: document.querySelector('.layout__header').offsetHeight
      });
      share();
    });

block body-start
  include preloader

block header
  include header

block modal

block menu
  include menu

block side-left-top
block side-left-center
block side-left-bottom

block side-right-top
block side-right-center
block side-right-bottom

block footer
